{% extends "mejbour/base.html" %}
{% block content %}
<br /><br />

{% if form.errors %}
<div class="alert alert-danger" role="alert">
  Votre nom d'utilisateur et votre mot de passe ne correspondent pas. Veuillez réessayer.
</div>
{% endif %}
{% if next %}
{% if user.is_authenticated %}
<div class="alert alert-warning" role="alert">
  Votre compte n'a pas accès à cette page. Pour continuer, veuillez vous connecter avec un compte ayant accès.
</div>
{% else %}
<div class="alert alert-info" role="alert">Veuillez vous connecter pour voir cette page.</div>
{% endif %}
{% endif %}

<div class="justify-content-between align-items-center">
  <div class="shadow-wrap">
    <div class="form-wrap">
      <form method="post" action="{% url 'login' %}">
        {% csrf_token %} {{form.as_p}}
        <input type="submit" class="btn btn-primary" value="Connexion"/>
        <input type="hidden" name="next" value="{{ next }}" />
      </form>

      <!-- Bouton d'inscription -->
      <p class="mt-3">Vous n'avez pas de compte ? <a href="{% url 'inscription' %}" class="signup-link">Inscrivez-vous</a></p>

      {# Assumes you set up the password_reset view in your URLconf #}
      <p class="mt-3">
        <a href="{% url 'password_reset' %}" class="signup-link">Mot de passe oublié ?</a>
      </p>
    </div>
  </div>
</div>

{% endblock %}
