<!-- objets_perdus/templates/objets_perdus/home.html -->
{% extends 'base.html' %}

{% block content %}
    <div class="container mt-5">
        <h1 class="text-center mb-4">Liste des Objets Perdus</h1>

        {% for objet_perdu in objets_perdus %}
            <div class="card mb-3">
                <div class="card-body">
                    <h2>{{ objet_perdu.nom_utilisateur }}</h2>
                    <p>{{ objet_perdu.description }}</p>
                    <p>Date de Signalement: {{ objet_perdu.date_signalement }}</p>
                    <p>Lieu Trouvé: {{ objet_perdu.lieu_trouve }}</p>
                    <p>Coordonnées: {{ objet_perdu.coordonnees }}</p>
                    {% if objet_perdu.image %}
                        <img src="{{ objet_perdu.image.url }}" alt="{{ objet_perdu.nom }}" class="img-fluid">
                    {% endif %}
                    <hr>
                    <a href="{% url 'objet_detail' objet_perdu_id=objet_perdu.id %}" class="btn btn-primary">Détails</a>
                    <!-- Bouton pour afficher les détails -->
                   
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock content %}
